body{
    font-family: 'Noto Sans JP', sans-serif;
}
ul{
    list-style: none;
}

/* ナビゲーション */
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin: 0 20px;
}
nav img{
    width: 162px;
    height: 152px;
}
nav li{
    font-size: 18px;
    font-weight: 500;
}
nav h1{
    position: absolute;
    top: 16px;
    left: 21px;
    z-index: 1;
}
/* ヘッダー */
header{
    background: url(../images/header_image.png) no-repeat top right;
    background-size: contain;
    background-color: #A71063;
    height: 70vh;
}
.header-title{
    position: relative;
}
.header-title img{
    position: absolute;
    top: 44px;
    left:0;
    width: 157px;
    height: 164px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}
.header-copy{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(90deg, #A71063 0%, #A5085FBE 100%) 0% 0% no-repeat padding-box;
}
.header-copy img{
    width: 70%;
    height: auto;
}

@media screen and (max-width:992px){
    header{
        background: #A71063;
    }
    .header-copy{
        background: #A71063;
    }
}

/* mainはここから */

main{
    background: url(../images/stripe.png);
    padding-bottom: 2rem;
}
.main-title{
    text-align: center;
    padding: 2rem 0;
}
.main-title h2{
    color: #fff;
    background-color: #6287AD;
    font-size: 36px;
    padding: 0.5rem 0;
}
.campaign-box{
    background-color: #e9e9e9;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.main-subtitle{
    background-color: #A71063;
    color: #fff;
    padding: 0.5rem 2rem;
}
.campaign-innerbox{
    background-color: #fff;
    margin: 0 2rem;
    padding: 1rem 1rem;
}
.campaign-fee{
    padding: 1rem 2rem;
}


